---
// Components
import ArrowSmallRight from 'astro-heroicons/outline/ArrowSmallRight.astro';
import SectionHeader from '../SectionHeader.astro';
import CardCourse from '../CardCourse.astro';
import data from '../../data/courses-data.json';

let news = new Map<string, string>();

data.forEach(item => {
    news.set(item.title, item.shortDescription);
});
let topThreeNews = data.slice(0, 3);
---

<section class="section courses-section dark-theme">
    <div class="section-container">
        <div class="section-wrapper">

			<SectionHeader
				title="Trending <strong>Stories</strong> & Insights"
				subtitle="Stay ahead of the curve with the latest buzz and expert takes"
			/>

            <div class="cards-grid">
                {topThreeNews.map((item) => (
                    <CardCourse
                        thumbnailURL={`/images/courses/${item.thumbnailURL}`}
                        title={item.title}
                        slug={item.slug}
                        shortDescription={item.shortDescription}
                        difficulty={item.difficulty}

                    />
                ))}
            </div>

            <footer class="section-footer">
                <a class="secondary-button secondary-button-white" href="/courses">
                    Browse all Articles <ArrowSmallRight class="w-6 h-6" />
                </a>
            </footer>

        </div><!-- Wrapper -->
     </div><!-- / Container -->
</section><!-- / Courses section -->
